@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22d4fd;
    --color-hover: #272727;
    
    --fuente-montserrat: 'Montserrat', sans-serif;    
    --fuente-krona: 'Krona One', sans-serif;
* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: var(--fuente-krona)
}

.presentacion__contenido__texto {
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo {
    font-size: 24px;
    font-family: var(--fuente-krona);
    font-weight: 400;
}

.presentacion__enlaces__link {
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);
}

.footer {
    background-color: #22D4FD;
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400;
}

.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.presentacion__imagen {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    position: fixed; /* Ensure the image remains fixed */
    top: 10%; /* Ajusta la posición vertical según sea necesario */
    right: 5%; /* Ajusta la posición horizontal según sea necesario */
    z-index: 1000; /* Ensure the image stays on top */
}

/* Remove the fixed-image class as it's not needed anymore */

.header {
    padding: 2% 0% 0% 15%;
}
